@import "tailwindcss";

h1 {
    font-size: 64px;
    display: flex;
    justify-self: center;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-20px);
}

.card-front {
    opacity: 1;
}

.card-front:hover {
    opacity: 0;
}

.card-back {
    opacity: 0;
}

.card-back:hover {
    opacity: 1;
}