@import url("https://assets.24g.com/public/2022-frontend-test-project/fonts.css");
@import "tailwindcss";

body {
  background-image: url('https://assets.24g.com/public/2022-frontend-test-project/bg_desktop.png');
  color: white;
  font-family: "Brandon Grotesque";
}

h1 {
    font-size: 64px;
    display: flex;
    justify-self: center;
    font-family: "Writable Story";
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-20px);
}

.card-front {
    opacity: 1;
}

.card-front:hover {
    opacity: 0;
}

.card-back {
    opacity: 0;
}

.card-back:hover {
    opacity: 1;
}


