@import url("https://assets.24g.com/public/2022-frontend-test-project/fonts.css");
@import "tailwindcss";

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: #756e6e4d;
    border-radius: 6px;
}

body {
  background-image: url('https://assets.24g.com/public/2022-frontend-test-project/bg_desktop.png');
  color: white;
  font-family: "Brandon Grotesque";
}

h1 {
    font-size: 6rem;
    display: flex;
    justify-self: center;
    font-family: "Writable Story";
}

hr {
    border: 0;
    height: 2px;
    background: #444444;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-20px);
}

.card-front {
    opacity: 1;
}

.card-front:hover {
    opacity: 0;
}

.card-back {
    opacity: 0;
}

.card-back:hover {
    opacity: 1;
}

.recipe-card {
    line-height: 2.5;
}

.recipe-card h6 {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-card hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ordered-steps {
    counter-reset: step-counter;
}

.ordered-steps li {
    counter-increment: step-counter;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.ordered-steps li::before {
    content: "STEP " counter(step-counter);
    font-weight: bold;
    flex-shrink: 0;
}   